<a href="https://colab.research.google.com/github/ImGhostDev/Cinemas/blob/master/kosmo_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
path_to_datasets = 'drive/My Drive/db_cosmo/'

In [0]:
import pandas as pd

In [0]:
transactions=pd.read_csv(path_to_datasets+'Transactions.csv',encoding='cp1251', sep=';', error_bad_lines=False   )

In [0]:
transactions.head()

                  Дата  Сумма Количество  ...    Карта   Клиент   Цена
0  2017-01-22 11:59:56  -0,06       ,000  ...  5346484  5346484      0
1  2017-01-22 11:59:56  35,16      1,000  ...  5346484  5346484  43,95
2  2017-01-22 13:41:12  -0,05       ,000  ...        0        0      0
3  2017-01-22 13:41:12  29,95      1,000  ...        0        0   43,5
4  2017-01-22 14:24:05   1,42      1,000  ...  4022813  4022813    1,5

[5 rows x 11 columns]

In [0]:
Products=pd.read_csv(path_to_datasets+"Nadiia Hanulich-Manukian - Products.csv",encoding='cp1251', sep=';', error_bad_lines=False   )

b'Skipping line 200762: expected 7 fields, saw 8\nSkipping line 200763: expected 7 fields, saw 8\n'

In [0]:
#Com_history=pd.read_csv(path_to_datasets+"Nadiia Hanulich-Manukian - CommunicationHistory.csv",encoding='cp1251', sep=';', error_bad_lines=False   )

In [0]:
#Com_history.head()

      Клиент Дата коммуникации Вид коммуникации Результат коммуникации
0  100005807        2018-01-08            viber             неизвестно
1         -1        2018-01-09              sms             неизвестно
2         -1        2018-01-09              sms             неизвестно
3         -1        2018-01-09              sms             неизвестно
4         -1        2018-01-09              sms             неизвестно

In [0]:
#Com_history[ 'Результат коммуникации'].unique()

array(['неизвестно'], dtype=object)

In [0]:
#clients=pd.read_csv(path_to_datasets+"Nadiia Hanulich-Manukian - Clients.csv",encoding='cp1251', sep=';', error_bad_lines=False   )

In [0]:
#clients.head()

   CustomerKey Пол Дата регистрации  ... Группа клиента    Карта             Сегмент
0           -1   n       2005-01-11  ...        Хозяйка    82754  Стабильные 3 (111)
1           -1   n              NaN  ...        Хозяйка  1769242  Стабильные 3 (111)
2           -1   n              NaN  ...        Хозяйка  1188643   Случайные 2 (010)
3           -1   n              NaN  ...        Хозяйка  1106819       Отток 3 (010)
4           -1   n              NaN  ...        Хозяйка   457071   Случайные 1 (100)

[5 rows x 9 columns]

In [0]:
#clients['Группа клиента'].unique()

array(['Хозяйка', 'Мама', 'Мужчины', 'Без персонажа', 'красотка'],
      dtype=object)

In [0]:
#clients['Сегмент'].unique()

array(['Стабильные 3 (111)', 'Случайные 2 (010)', 'Отток 3 (010)',
       'Случайные 1 (100)', 'Отток 2 (100)', 'Вероятный отток (100)',
       'Стабильные 4 (001)', 'Отток 1 (110)', 'Редкие 1(011)',
       'Стабильные 1 (101)', 'Стабильные 2 (011)',
       'Вероятный отток (010)', 'Редкие 3(110)', 'Редкие 2(101)',
       'Вероятный отток (110)', 'Случайные 3 (001)', 'Редкие 4(111)',
       'Новые', nan], dtype=object)

In [0]:
#clients[clients['Карта']==5390185]

        CustomerKey Пол  ...    Карта                Сегмент
229905    101351722   m  ...  5390185  Вероятный отток (100)

[1 rows x 9 columns]

In [0]:
#Cards=pd.read_csv(path_to_datasets+"Nadiia Hanulich-Manukian - Cards.csv",encoding='cp1251', sep=';', error_bad_lines=False   )

In [0]:
#Cards.head()

   Тип карты Дата получения карты Процент скидки  Клиент
0          0                  NaN            ,05      -1
1          0                  NaN            ,00       0
2          0                  NaN            ,05      -1
3          0                  NaN            ,05      -1
4          0                  NaN            ,05      -1

In [0]:
#Cards['Процент скидки'].unique()

array([',05', ',00', ',09', ',15', ',07', ',06', ',08', ',10', ',20'],
      dtype=object)

In [0]:
#Actions=pd.read_csv(path_to_datasets+"Nadiia Hanulich-Manukian - Actions.csv",encoding='cp1251', sep=';', error_bad_lines=False   )

b'Skipping line 11742: expected 5 fields, saw 6\nSkipping line 11906: expected 5 fields, saw 6\n'

In [0]:
#Actions.head()

   PromotionKey           Вид акции  ... Дата окончания                Название
0             0                 NaN  ...            NaN           <<Нет акции>>
1             1  Скидка на весь чек  ...            NaN     Дисконтная карточка
2             2  Скидка на весь чек  ...            NaN    Старые купоны на чек
3             3  Скидка на весь чек  ...            NaN  Старые купоны на товар
4             4  Скидка на весь чек  ...            NaN    Ручная скидка на чек

[5 rows x 5 columns]

In [0]:
Products.head()

   ProductKey                            Название  ...     Бренд   Цена
0    70017830     Filodoro колг.Vesta 40 cappuc 4  ...  FILODORO  22,25
1    70017834      Filodoro колг.Avrora 15 nero 2  ...  FILODORO  15,75
2    70017836        Filodoro колг.Clio 30 nero 3  ...  FILODORO  27,95
3    70017838  Filodoro колг.Top Comf.50 glac.1/2  ...  FILODORO  15,95
4    70017840   Filodoro колг.Ninfa Comf.20 ant.4  ...  FILODORO  22,75

[5 rows x 7 columns]

In [0]:
Products=Products[Products['Вид']!='услуги']

In [0]:
Products[(Products['Группа']=='Мыло туалетное') &(Products['Подгруппа']=='Мыло твердое') &(Products['Бренд']=='DURU')]

       ProductKey                                       Название  ... Бренд   Цена
7981     70148928                     DURU 1+1 мило 5*100г ЛОТОС  ...  DURU   5,95
7982     70148930                     DURU 1+1 мило 5*100г ЛИМОН  ...  DURU   5,95
7983     70148932               DURU 1+1 мило 5*100г ЗЕЛЕНИЙ ЧАЙ  ...  DURU   5,95
7984     70037194                   DURU мило 3*100г Оливкове###  ...  DURU      0
7985     70037196                    DURU мило 3*100г Мигдаль###  ...  DURU      0
...           ...                                            ...  ...   ...    ...
43718    70438930   DURU Fresh Sensations Океанський бриз 4*150г  ...  DURU     81
43719    70438932     DURU Fresh Sensations Океанський бриз 150г  ...  DURU   26,5
43720    70438934      DURU Fresh Sensations Квіткова хмара 150г  ...  DURU   26,5
43721    70439412  DURU Fresh Sensations Гірська сівжість 4*110г  ...  DURU  63,25
43722    70439414   DURU Fresh Sensations Океанський бриз 4*110г  ...  DURU  63,25

[84 rows x 7 columns]

In [0]:
group=dict(zip(Products['Группа'].unique(),[i for i in range(len(Products['Группа'].unique()))]))

In [0]:
undergroup=dict(zip(Products['Подгруппа'].unique(),[i for i in range(len(Products['Подгруппа'].unique()))]))

In [0]:
brand=dict(zip(Products['Бренд'].unique(),[i for i in range(len(Products['Бренд'].unique()))]))

In [0]:
Products['group']=Products['Группа'].map(lambda x: group.get(x))

In [0]:
Products['undergroup']=Products['Подгруппа'].map(lambda x: undergroup.get(x))

In [0]:
Products['brand']=Products['Бренд'].map(lambda x: brand.get(x))

In [0]:
Products['new_prod_key']=Products[['brand','group','undergroup']].apply(lambda x: str(x.group)+'_'+str(x.undergroup)+'_'+str(x.brand), axis=1)

In [0]:
Products['ProductKey'].nunique()

208020

In [0]:
Products['new_prod_key'].nunique()

22105

In [0]:
#Products[['ProductKey','new_prod_key', 'Подгруппа','Группа','Бренд']].to_csv(path_to_datasets+'new_prod_keys.csv')
Products=pd.read_csv(path_to_datasets+'new_prod_keys.csv', index_col=0)

In [0]:
Products.head()

   ProductKey new_prod_key  ...                             Группа     Бренд
0    70017830        0_0_0  ...  Чулочно-носочные изделия взрослые  FILODORO
1    70017834        0_0_0  ...  Чулочно-носочные изделия взрослые  FILODORO
2    70017836        0_0_0  ...  Чулочно-носочные изделия взрослые  FILODORO
3    70017838        0_0_0  ...  Чулочно-носочные изделия взрослые  FILODORO
4    70017840        0_0_0  ...  Чулочно-носочные изделия взрослые  FILODORO

[5 rows x 5 columns]

In [0]:
transactions_short=transactions[['Дата','Товар','Карта']]

In [0]:
transactions_short=pd.merge(transactions_short,Products[['ProductKey','new_prod_key']], left_on='Товар', right_on='ProductKey')

In [0]:
len(transactions)==len(transactions_short)

True

In [0]:
transactions_short.drop(columns=['Товар','ProductKey'], inplace=True)

In [0]:
transactions_short.sort_values(by='Дата')

KeyboardInterrupt: ignored

In [0]:
transactions_short=transactions_short[transactions_short['Карта']!=0]

In [0]:
#transactions_short.to_csv(path_to_datasets+'transactions_short.csv')
transactions_short=pd.read_csv(path_to_datasets+'transactions_short.csv', index_col=0)

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [0]:
New_prod_code_more_300=transactions_short.new_prod_key.value_counts()[transactions_short.new_prod_key.value_counts() > 300].index

In [0]:
New_prod_code_more_300

Index(['303_1024_39', '0_0_663', '26_32_54', '144_384_2811', '18_22_39',
       '60_70_640', '164_334_2214', '106_164_841', '144_264_2811',
       '295_191_2187',
       ...
       '30_35_137', '107_174_3182', '129_225_1318', '122_203_1336',
       '234_1101_2194', '45_57_235', '172_412_279', '0_391_1766',
       '233_769_176', '128_298_157'],
      dtype='object', length=1784)

In [0]:
transactions_short=transactions_short[transactions_short['new_prod_key'].isin(New_prod_code_more_300)]

In [0]:
transactions_short['Дата']=pd.to_datetime(transactions_short['Дата'])

In [0]:
codec=dict(zip(New_prod_code_more_300,[i+1 for i in range(len(New_prod_code_more_300))]))

In [0]:
transactions_short['ID_code']=transactions_short['new_prod_key'].map(lambda x: codec.get(x))

In [0]:
df_test = transactions_short[transactions_short['Дата'] > pd.datetime(2019,9,1)]
df_train = transactions_short[~(transactions_short['Дата']> pd.datetime(2019,9,1))]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.

In [0]:
pred_dataset = pd.DataFrame(df_test['Карта'].unique(), columns=['Карта'])

In [0]:
top_10_SKU = df_train.loc[:, 'ID_code'].value_counts()[:10].index.tolist()
top_10_SKU

[1, 3, 4, 2, 5, 6, 7, 9, 10, 8]

In [0]:
#pred_dataset['recomendation'] = ' '.join([str(v) for v in top_10_SKU])
pred_dataset['recomendation']=0

In [0]:
from keras.preprocessing.sequence import pad_sequences

Using TensorFlow backend.

In [0]:
import tqdm
tqdm.tqdm.pandas()

In [0]:
sequences = df_train.groupby('Карта')['ID_code'].progress_apply(list)

100%|██████████| 157705/157705 [00:22<00:00, 7094.17it/s]

In [0]:
min_purchases = 6
sequences2use = sequences[sequences.apply(len) >= min_purchases]

In [0]:
maxlen = 18 # Length of sequences in X
X = []
y = []

def slice_sequence(seq, num_slices):
    for i in range(1, num_slices):
        X.append(seq[-(i+maxlen): -i])
        y.append(seq[-i])
        
for seq in tqdm.tqdm(sequences2use):
#     slice_sequence(seq, len(seq))
    if len(seq) <= maxlen:
        slice_sequence(seq, 2)
    elif len(seq) <= maxlen + int(maxlen*0.5):
        slice_sequence(seq, len(seq)-min_purchases+1)
    elif len(seq) <= maxlen*2:
        slice_sequence(seq, len(seq)-min_purchases+1-4)
    else:
        slice_sequence(seq, 30)

100%|██████████| 116431/116431 [00:03<00:00, 32486.66it/s]

In [0]:
import numpy as np

In [0]:
X[0]

[120, 120, 291, 291, 270, 270, 90, 90]

In [0]:
X[0]

array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 120, 120, 291,
       291, 270, 270,  90,  90], dtype=int32)

In [0]:
# We should pad our sequences with 0 values, so they all will have the same length
X = pad_sequences(X, maxlen=maxlen)
y = np.array(y)

In [0]:
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Input, Embedding, SpatialDropout1D, Dropout, Dense, LSTM
from keras.models import Model
from keras.callbacks import ModelCheckpoint
# Let's set random seed
# import tensorflow as tf
# tf.set_random_seed(42)
np.random.seed(42)

In [0]:
max_features = df_train['ID_code'].unique().size + 4
embed_size = 64

def lstm128():
    inp = Input(shape=(maxlen,))
    x = Embedding(max_features, embed_size)(inp)
    x = SpatialDropout1D(0.05)(x)
    x = LSTM(128, return_sequences=False)(x)
    x = Dropout(0.02)(x)
    outp = Dense(max_features, activation="softmax")(x)
    model = Model(inputs=inp, outputs=outp)
    model.compile(loss='sparse_categorical_crossentropy', optimizer='rmsprop',
                  metrics=['sparse_categorical_accuracy'])
    return model

In [0]:
# Let's train our  system
model = lstm128()
filepath = 'drive/My Drive/db_cosmo/'+'models/' + "epochs:{epoch:03d}-val_sparse_categorical_accuracy:{val_sparse_categorical_accuracy:.3f}_64_embed_128_cells_maxlen18.hdf5"
checkpoint = ModelCheckpoint(filepath, monitor='val_sparse_categorical_accuracy', verbose=1, save_best_only=True, mode='max')
model.fit(X, y, batch_size=2048*4, epochs=250, verbose=True, validation_split=0.03, callbacks=[checkpoint],  shuffle=True)

/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/indexed_slices.py:434: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

Train on 1597047 samples, validate on 49394 samples
Epoch 1/250
1597047/1597047 [==============================] - 691s 433us/step - loss: 6.7140 - sparse_categorical_accuracy: 0.0149 - val_loss: 6.4122 - val_sparse_categorical_accuracy: 0.0232

Epoch 00001: val_sparse_categorical_accuracy improved from -inf to 0.02316, saving model to drive/My Drive/db_cosmo/models/epochs:001-val_sparse_categorical_accuracy:0.023_64_embed_128_cells_maxlen18.hdf5
Epoch 2/250
1597047/1597047 [==============================] - 690s 432us/step - loss: 6.1709 - sparse_categorical_accuracy: 0.0348 - val_loss: 5.7961 - val_sparse_categorical_accuracy: 0.0757

Epoch 00002: val_sparse_categorical_accuracy improved from 0.02316 to 0.07570, saving model to drive/My Drive/db_cosmo/models/epochs:002-val_sparse_categorical_accuracy:0.076_64_embed_128_cells_maxlen18.hdf5
Epoch 3/250
1597047/1597047 [==============================] - 693s 434us/step - loss: 5.5420 - sparse_categorical_accuracy: 0.1273 - val_loss: 5.1706 - val_sparse_categorical_accuracy: 0.2133

Epoch 00003: val_sparse_categorical_accuracy improved from 0.07570 to 0.21335, saving model to drive/My Drive/db_cosmo/models/epochs:003-val_sparse_categorical_accuracy:0.213_64_embed_128_cells_maxlen18.hdf5
Epoch 4/250
1597047/1597047 [==============================] - 693s 434us/step - loss: 4.9606 - sparse_categorical_accuracy: 0.2677 - val_loss: 4.6697 - val_sparse_categorical_accuracy: 0.3438

Epoch 00004: val_sparse_categorical_accuracy improved from 0.21335 to 0.34385, saving model to drive/My Drive/db_cosmo/models/epochs:004-val_sparse_categorical_accuracy:0.344_64_embed_128_cells_maxlen18.hdf5
Epoch 5/250
1597047/1597047 [==============================] - 691s 433us/step - loss: 4.5366 - sparse_categorical_accuracy: 0.3701 - val_loss: 4.3318 - val_sparse_categorical_accuracy: 0.4145

Epoch 00005: val_sparse_categorical_accuracy improved from 0.34385 to 0.41446, saving model to drive/My Drive/db_cosmo/models/epochs:005-val_sparse_categorical_accuracy:0.414_64_embed_128_cells_maxlen18.hdf5
Epoch 6/250
1597047/1597047 [==============================] - 691s 433us/step - loss: 4.2558 - sparse_categorical_accuracy: 0.4269 - val_loss: 4.1342 - val_sparse_categorical_accuracy: 0.4517

Epoch 00006: val_sparse_categorical_accuracy improved from 0.41446 to 0.45167, saving model to drive/My Drive/db_cosmo/models/epochs:006-val_sparse_categorical_accuracy:0.452_64_embed_128_cells_maxlen18.hdf5
Epoch 7/250
1597047/1597047 [==============================] - 691s 433us/step - loss: 4.0737 - sparse_categorical_accuracy: 0.4567 - val_loss: 4.0042 - val_sparse_categorical_accuracy: 0.4695

Epoch 00007: val_sparse_categorical_accuracy improved from 0.45167 to 0.46949, saving model to drive/My Drive/db_cosmo/models/epochs:007-val_sparse_categorical_accuracy:0.469_64_embed_128_cells_maxlen18.hdf5
Epoch 8/250
1597047/1597047 [==============================] - 692s 434us/step - loss: 3.9537 - sparse_categorical_accuracy: 0.4720 - val_loss: 3.9131 - val_sparse_categorical_accuracy: 0.4782

Epoch 00008: val_sparse_categorical_accuracy improved from 0.46949 to 0.47818, saving model to drive/My Drive/db_cosmo/models/epochs:008-val_sparse_categorical_accuracy:0.478_64_embed_128_cells_maxlen18.hdf5
Epoch 9/250
1597047/1597047 [==============================] - 693s 434us/step - loss: 3.8724 - sparse_categorical_accuracy: 0.4797 - val_loss: 3.8560 - val_sparse_categorical_accuracy: 0.4827

Epoch 00009: val_sparse_categorical_accuracy improved from 0.47818 to 0.48273, saving model to drive/My Drive/db_cosmo/models/epochs:009-val_sparse_categorical_accuracy:0.483_64_embed_128_cells_maxlen18.hdf5
Epoch 10/250
1597047/1597047 [==============================] - 691s 433us/step - loss: 3.8153 - sparse_categorical_accuracy: 0.4833 - val_loss: 3.8153 - val_sparse_categorical_accuracy: 0.4846

Epoch 00010: val_sparse_categorical_accuracy improved from 0.48273 to 0.48457, saving model to drive/My Drive/db_cosmo/models/epochs:010-val_sparse_categorical_accuracy:0.485_64_embed_128_cells_maxlen18.hdf5
Epoch 11/250
1597047/1597047 [==============================] - 692s 433us/step - loss: 3.7732 - sparse_categorical_accuracy: 0.4851 - val_loss: 3.7846 - val_sparse_categorical_accuracy: 0.4855

Epoch 00011: val_sparse_categorical_accuracy improved from 0.48457 to 0.48546, saving model to drive/My Drive/db_cosmo/models/epochs:011-val_sparse_categorical_accuracy:0.485_64_embed_128_cells_maxlen18.hdf5
Epoch 12/250
1597047/1597047 [==============================] - 694s 434us/step - loss: 3.7414 - sparse_categorical_accuracy: 0.4860 - val_loss: 3.7662 - val_sparse_categorical_accuracy: 0.4859

Epoch 00012: val_sparse_categorical_accuracy improved from 0.48546 to 0.48595, saving model to drive/My Drive/db_cosmo/models/epochs:012-val_sparse_categorical_accuracy:0.486_64_embed_128_cells_maxlen18.hdf5
Epoch 13/250
1597047/1597047 [==============================] - 693s 434us/step - loss: 3.7158 - sparse_categorical_accuracy: 0.4865 - val_loss: 3.7443 - val_sparse_categorical_accuracy: 0.4859

Epoch 00013: val_sparse_categorical_accuracy did not improve from 0.48595
Epoch 14/250
1597047/1597047 [==============================] - 696s 436us/step - loss: 3.6946 - sparse_categorical_accuracy: 0.4867 - val_loss: 3.7298 - val_sparse_categorical_accuracy: 0.4863

Epoch 00014: val_sparse_categorical_accuracy improved from 0.48595 to 0.48629, saving model to drive/My Drive/db_cosmo/models/epochs:014-val_sparse_categorical_accuracy:0.486_64_embed_128_cells_maxlen18.hdf5
Epoch 15/250
1597047/1597047 [==============================] - 692s 433us/step - loss: 3.6762 - sparse_categorical_accuracy: 0.4869 - val_loss: 3.7150 - val_sparse_categorical_accuracy: 0.4864

Epoch 00015: val_sparse_categorical_accuracy improved from 0.48629 to 0.48635, saving model to drive/My Drive/db_cosmo/models/epochs:015-val_sparse_categorical_accuracy:0.486_64_embed_128_cells_maxlen18.hdf5
Epoch 16/250
1597047/1597047 [==============================] - 687s 430us/step - loss: 3.6603 - sparse_categorical_accuracy: 0.4870 - val_loss: 3.7041 - val_sparse_categorical_accuracy: 0.4863

Epoch 00016: val_sparse_categorical_accuracy did not improve from 0.48635
Epoch 17/250
1597047/1597047 [==============================] - 688s 431us/step - loss: 3.6460 - sparse_categorical_accuracy: 0.4870 - val_loss: 3.6953 - val_sparse_categorical_accuracy: 0.4866

Epoch 00017: val_sparse_categorical_accuracy improved from 0.48635 to 0.48660, saving model to drive/My Drive/db_cosmo/models/epochs:017-val_sparse_categorical_accuracy:0.487_64_embed_128_cells_maxlen18.hdf5
Epoch 18/250
1597047/1597047 [==============================] - 692s 433us/step - loss: 3.6339 - sparse_categorical_accuracy: 0.4872 - val_loss: 3.6840 - val_sparse_categorical_accuracy: 0.4863

Epoch 00018: val_sparse_categorical_accuracy did not improve from 0.48660
Epoch 19/250
1597047/1597047 [==============================] - 695s 435us/step - loss: 3.6222 - sparse_categorical_accuracy: 0.4872 - val_loss: 3.6798 - val_sparse_categorical_accuracy: 0.4866

Epoch 00019: val_sparse_categorical_accuracy did not improve from 0.48660
Epoch 20/250
1597047/1597047 [==============================] - 695s 435us/step - loss: 3.6116 - sparse_categorical_accuracy: 0.4874 - val_loss: 3.6777 - val_sparse_categorical_accuracy: 0.4864

Epoch 00020: val_sparse_categorical_accuracy did not improve from 0.48660
Epoch 21/250
1597047/1597047 [==============================] - 693s 434us/step - loss: 3.6024 - sparse_categorical_accuracy: 0.4874 - val_loss: 3.6715 - val_sparse_categorical_accuracy: 0.4865

Epoch 00021: val_sparse_categorical_accuracy did not improve from 0.48660
Epoch 22/250
1597047/1597047 [==============================] - 690s 432us/step - loss: 3.5932 - sparse_categorical_accuracy: 0.4874 - val_loss: 3.6650 - val_sparse_categorical_accuracy: 0.4865

Epoch 00022: val_sparse_categorical_accuracy did not improve from 0.48660
Epoch 23/250
1597047/1597047 [==============================] - 692s 433us/step - loss: 3.5853 - sparse_categorical_accuracy: 0.4875 - val_loss: 3.6587 - val_sparse_categorical_accuracy: 0.4868

Epoch 00023: val_sparse_categorical_accuracy improved from 0.48660 to 0.48676, saving model to drive/My Drive/db_cosmo/models/epochs:023-val_sparse_categorical_accuracy:0.487_64_embed_128_cells_maxlen18.hdf5
Epoch 24/250
1597047/1597047 [==============================] - 692s 433us/step - loss: 3.5776 - sparse_categorical_accuracy: 0.4875 - val_loss: 3.6571 - val_sparse_categorical_accuracy: 0.4865

Epoch 00024: val_sparse_categorical_accuracy did not improve from 0.48676
Epoch 25/250
1597047/1597047 [==============================] - 692s 433us/step - loss: 3.5702 - sparse_categorical_accuracy: 0.4875 - val_loss: 3.6532 - val_sparse_categorical_accuracy: 0.4865

Epoch 00025: val_sparse_categorical_accuracy did not improve from 0.48676
Epoch 26/250
1597047/1597047 [==============================] - 696s 436us/step - loss: 3.5638 - sparse_categorical_accuracy: 0.4876 - val_loss: 3.6503 - val_sparse_categorical_accuracy: 0.4865

Epoch 00026: val_sparse_categorical_accuracy did not improve from 0.48676
Epoch 27/250
1597047/1597047 [==============================] - 687s 430us/step - loss: 3.5571 - sparse_categorical_accuracy: 0.4877 - val_loss: 3.6457 - val_sparse_categorical_accuracy: 0.4864

Epoch 00027: val_sparse_categorical_accuracy did not improve from 0.48676
Epoch 28/250
1597047/1597047 [==============================] - 690s 432us/step - loss: 3.5508 - sparse_categorical_accuracy: 0.4876 - val_loss: 3.6454 - val_sparse_categorical_accuracy: 0.4868

Epoch 00028: val_sparse_categorical_accuracy improved from 0.48676 to 0.48680, saving model to drive/My Drive/db_cosmo/models/epochs:028-val_sparse_categorical_accuracy:0.487_64_embed_128_cells_maxlen18.hdf5
Epoch 29/250
1597047/1597047 [==============================] - 689s 432us/step - loss: 3.5455 - sparse_categorical_accuracy: 0.4876 - val_loss: 3.6396 - val_sparse_categorical_accuracy: 0.4865

Epoch 00029: val_sparse_categorical_accuracy did not improve from 0.48680
Epoch 30/250
1597047/1597047 [==============================] - 692s 433us/step - loss: 3.5402 - sparse_categorical_accuracy: 0.4878 - val_loss: 3.6397 - val_sparse_categorical_accuracy: 0.4865

Epoch 00030: val_sparse_categorical_accuracy did not improve from 0.48680
Epoch 31/250
1597047/1597047 [==============================] - 689s 431us/step - loss: 3.5342 - sparse_categorical_accuracy: 0.4877 - val_loss: 3.6308 - val_sparse_categorical_accuracy: 0.4869

Epoch 00031: val_sparse_categorical_accuracy improved from 0.48680 to 0.48690, saving model to drive/My Drive/db_cosmo/models/epochs:031-val_sparse_categorical_accuracy:0.487_64_embed_128_cells_maxlen18.hdf5
Epoch 32/250
1597047/1597047 [==============================] - 688s 431us/step - loss: 3.5301 - sparse_categorical_accuracy: 0.4878 - val_loss: 3.6331 - val_sparse_categorical_accuracy: 0.4867

Epoch 00032: val_sparse_categorical_accuracy did not improve from 0.48690
Epoch 33/250
1597047/1597047 [==============================] - 689s 431us/step - loss: 3.5250 - sparse_categorical_accuracy: 0.4878 - val_loss: 3.6304 - val_sparse_categorical_accuracy: 0.4865

Epoch 00033: val_sparse_categorical_accuracy did not improve from 0.48690
Epoch 34/250
1597047/1597047 [==============================] - 694s 435us/step - loss: 3.5209 - sparse_categorical_accuracy: 0.4878 - val_loss: 3.6294 - val_sparse_categorical_accuracy: 0.4866

Epoch 00034: val_sparse_categorical_accuracy did not improve from 0.48690
Epoch 35/250
1597047/1597047 [==============================] - 690s 432us/step - loss: 3.5164 - sparse_categorical_accuracy: 0.4879 - val_loss: 3.6253 - val_sparse_categorical_accuracy: 0.4869

Epoch 00035: val_sparse_categorical_accuracy did not improve from 0.48690
Epoch 36/250
1597047/1597047 [==============================] - 687s 430us/step - loss: 3.5123 - sparse_categorical_accuracy: 0.4879 - val_loss: 3.6246 - val_sparse_categorical_accuracy: 0.4865

Epoch 00036: val_sparse_categorical_accuracy did not improve from 0.48690
Epoch 37/250
1597047/1597047 [==============================] - 691s 433us/step - loss: 3.5088 - sparse_categorical_accuracy: 0.4879 - val_loss: 3.6236 - val_sparse_categorical_accuracy: 0.4867

Epoch 00037: val_sparse_categorical_accuracy did not improve from 0.48690
Epoch 38/250
1597047/1597047 [==============================] - 692s 434us/step - loss: 3.5048 - sparse_categorical_accuracy: 0.4879 - val_loss: 3.6236 - val_sparse_categorical_accuracy: 0.4866

Epoch 00038: val_sparse_categorical_accuracy did not improve from 0.48690
Epoch 39/250
1597047/1597047 [==============================] - 696s 436us/step - loss: 3.5012 - sparse_categorical_accuracy: 0.4880 - val_loss: 3.6202 - val_sparse_categorical_accuracy: 0.4865

Epoch 00039: val_sparse_categorical_accuracy did not improve from 0.48690
Epoch 40/250
1449984/1597047 [==========================>...] - ETA: 1:03 - loss: 3.4981 - sparse_categorical_accuracy: 0.4878

KeyboardInterrupt: ignored

In [0]:

model1 = lstm128()
model1.load_weights('drive/My Drive/db_cosmo/models/epochs:023-val_sparse_categorical_accuracy:0.487_64_embed_128_cells_maxlen18.hdf5')

In [0]:
from tqdm import tqdm

In [0]:
sequences_test = sequences.apply(lambda x: x[-maxlen:])
sequences_test = sequences_test.apply(lambda x: [0 for i in range(maxlen - len(x))] + x)

In [0]:
test_users_in_sequences = sorted(set(sequences_test.index) & set(df_test['Карта']))

In [0]:
X_test = np.array(sequences_test[test_users_in_sequences].tolist())

In [0]:
from itertools import chain
batch_size = 2048*8
n_batches = int(X_test.shape[0]/batch_size) + 1
preds = []

for batch_ind in tqdm(range(n_batches)):
    batch = X_test[batch_ind*batch_size: (batch_ind + 1)*batch_size]
    curr_preds = model1.predict(batch)
    curr_preds = np.argsort(-curr_preds)[:, :10]
    preds.append([' '.join(map(lambda x: str(x), row)) for row in curr_preds])
preds = list(chain(*preds))

100%|██████████| 3/3 [00:14<00:00,  4.74s/it]

In [0]:
pred_dataset.index = pred_dataset.loc[:,'Карта']
pred_dataset.recomendation[test_users_in_sequences] = preds

In [0]:
pred_dataset[10:20]

           Карта                            recomendation
Карта
5947297  5947297                                        0
3573250  3573250   66 345 676 231 344 826 113 1295 169 58
5753473  5753473          55 103 57 3 39 77 11 224 32 158
5213804  5213804         1355 83 11 2 30 5 105 408 22 143
6608565  6608565     92 11 234 703 304 160 30 223 169 300
6711118  6711118         21 158 14 35 3 119 55 361 11 137
5914518  5914518  324 162 345 157 264 1234 58 768 113 938
2572426  2572426      1211 14 30 219 105 22 857 33 458 67
2290772  2290772    91 14 667 122 234 180 835 837 554 200
1133946  1133946      516 554 169 92 345 14 30 11 490 234

In [0]:
pred_dataset=pred_dataset[pred_dataset['recomendation']!=0]

In [0]:
pred_dataset['recomendation']=pred_dataset['recomendation'].map(lambda x: x.split(' '))

In [0]:
de_codec=dict(zip(codec.values(), codec.keys()))

In [0]:
alt=Products[['new_prod_key', 'Подгруппа','Группа','Бренд']].drop_duplicates()

In [0]:
def check(cardID, alt, de_codec):
  f=pred_dataset[pred_dataset['Карта']==cardID]['recomendation'].values[0]
  f_1=[de_codec.get(int(i)) for i in f]
  predictors=alt[alt['new_prod_key'].isin(f_1)]
  real=transactions_short[(transactions_short['Карта']==cardID)&(transactions_short['Дата']>pd.datetime(2019,9,1))]
  return predictors, real

In [0]:
a,b=check(6597895, alt, de_codec)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  """

In [0]:
a

       new_prod_key  ...                 Бренд
4342       18_22_39  ...                ПРОЧИЕ
14054     71_112_91  ...                NINGBO
26961    71_112_934  ...            VIA BEAUTY
36336    71_112_760  ...            BEAUTYDERM
49259   136_240_711  ...                    FA
54698   136_240_160  ...             PALMOLIVE
60745   136_240_585  ...  LE PETIT MARSEILLAIS
97055    0_346_2220  ...                  PARA
101204     0_0_2177  ...                  VIVA
170772     9_10_661  ...              ODRI СТМ

[10 rows x 4 columns]

In [0]:
b

                       Дата    Карта new_prod_key  ID_code
577676  2019-09-14 21:22:08  6597895  164_606_841      184
577677  2019-09-14 21:22:08  6597895  164_606_841      184
577755  2019-10-16 21:45:56  6597895  164_606_841      184
577947  2019-12-16 18:23:27  6597895  164_606_841      184
577979  2019-10-01 21:06:50  6597895  164_606_841      184
...                     ...      ...          ...      ...
8484298 2019-11-11 13:06:41  6597895   0_344_2220      143
8486985 2019-11-11 13:06:41  6597895   0_346_2220       30
8486986 2019-11-11 13:06:41  6597895   0_346_2220       30
8499225 2019-11-01 17:58:11  6597895   0_344_2014      148
8499226 2019-11-01 17:58:11  6597895   0_344_2014      148

[71 rows x 4 columns]

In [0]:
b[b.new_prod_key.isin(a.new_prod_key)].new_prod_key.unique()

array(['136_240_160', '0_0_2177', '71_112_934', '71_112_91', '71_112_760',
       '0_346_2220'], dtype=object)

In [0]:
Products[Products['new_prod_key'].isin(b[b.new_prod_key.isin(a.new_prod_key)].new_prod_key.unique())][['new_prod_key','Подгруппа','Группа','Бренд']].drop_duplicates()

       new_prod_key  ...       Бренд
14054     71_112_91  ...      NINGBO
26961    71_112_934  ...  VIA BEAUTY
36336    71_112_760  ...  BEAUTYDERM
54698   136_240_160  ...   PALMOLIVE
97055    0_346_2220  ...        PARA
101204     0_0_2177  ...        VIVA

[6 rows x 4 columns]

In [0]:
from tqdm import tqdm

In [0]:
res=[]
for i in tqdm(pred_dataset['Карта'].unique()):
  a,b=check(i, alt, de_codec)
  res.append([i,b[b.new_prod_key.isin(a.new_prod_key)]['new_prod_key'].nunique()/10])

  0%|          | 0/44241 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  """
100%|██████████| 44241/44241 [21:23<00:00, 34.46it/s]

In [0]:
res=pd.DataFrame(res)

In [0]:
res

             0    1
0      2064727  0.0
1      6195527  0.0
2      5324253  0.0
3      2076599  0.0
4      5921230  0.1
...        ...  ...
44236  6184759  0.0
44237  5325138  0.0
44238  5607663  0.0
44239  5279992  0.0
44240  6485531  0.0

[44241 rows x 2 columns]

In [0]:
res[1].mean()

0.05091807749975354

In [0]:
res[1].value_counts()

0.000000    38039
0.333333     5672
0.666667      504
1.000000       26
Name: 1, dtype: int64

In [0]:
len(res)

44241

In [0]:
len(res[res[1]>0])

6202

In [0]:
len(res[res[1]>0])/len(res)

0.2390542709251599